
.main {
  height: 100vh;
  padding-top: 5vh;
  overflow: hidden;
}

// cta
.cta {
  padding-right: 5vw;
  display: flex;
  gap: 15px;
  justify-content: flex-end;

  &__link {
    margin-left: 10px;
  }
}

// sns
.sns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  position: absolute;
  // left: 5vw;
  // bottom: 20vh;
  top: 1%;
  left: 0;

  &__link {
    color: var(--color-primary);
    font-size: 20px;

    &:hover {
      color: #ccc;
    }
  }

  &::after {
    content: '';
    width: 1px;
    height: 20px;
    background: var(--color-primary);
  }
}

// profile
.profile {
  overflow: visible;
  position: absolute;
  left: calc(50% - 250px);
  width: 500px;
  height: 500px;
  margin-top: 80px;
  padding: 50px 100px;
  border-radius: 50% 50% 0 0;
  background: linear-gradient(#194350, transparent);

  &-text {
    position: absolute;
    top: 24vh;
    width: 100%;
    color: #FFBCBC;
    font-size: 11.5vw;
    white-space: nowrap;
    font-weight: bold;
    line-height: 1.3;
    letter-spacing: -1.5px;
    font-family: 'Montserrat', sans-serif;

    .left {
      text-align: left;
    }

    .right {
      left: auto;
      right: 0;
      text-align: right;
      color: transparent;
      -webkit-text-stroke: 0.02em rgb(255, 188, 188);
    }
  }
}

// Scroll Down
.scroll-down {
  position: absolute;
  right: 8vw;
  left: auto;
  bottom: 20vh;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 14px;
}


/* tablet device */
@media screen and (max-width: 1024px) {

}

/* mobile device */
@media screen and (max-width: 600px) {

}
